################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sandBox2/.vs/RASandbox/FileContentIndex
/backend/.vs
