################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/RASandbox/FileContentIndex/53b21b3b-c87a-45ac-bbf5-a935973955e3.vsidx
/.vs/RASandbox/FileContentIndex/6902a393-4ad4-49d0-86e9-c0850292c80f.vsidx
/.vs/RASandbox/FileContentIndex/f86db42a-cad6-45f4-83ea-6af731808a96.vsidx
/.vs/RASandbox/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/sandBox2/.vs/ProjectEvaluation/rasandbox.metadata.v7.bin
/sandBox2/.vs/ProjectEvaluation/rasandbox.projects.v7.bin
/sandBox2/.vs/RASandbox/v17/.suo
