$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333333;
$background-color: #ffffff;

// Dark mode
$dark-primary-color: #336699;
$dark-secondary-color: #8c8c8c;
$dark-text-color: #ffffff;
$dark-background-color: #222222;